<!DOCTYPE html>
<html lang="en">

<head>
    <title>Khoa Pham Chat</title>
    <script src="bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
 
<body>
    <h3>CHAT WEBRTC KHOA PHAM</h3>
    <div id="div-dang-ky">
        <input type="text" id="txt-username" placeholder="Nhập username của bạn" />
        <br />
        <button id="btn-dang-ky">ĐĂNG KÝ</button>
    </div>

    <div id="div-chat">
        <div id="div-chat-left">
            <p id="p-my-name">My webcam</p>
            <video id="me"></video>
        </div>
        <div>
            <p style="color: #166797">ONLINE USER:</p>
            <ul id="ul-user"></ul>
            <hr />
            <p style="color: #166797">MY FRIEND VIDEO</p>
            <video id="me2" height="200" width="200px"></video>
        </div>
    </div>
</body>

</html>