<!DOCTYPE html>
<html lang="en">

<head>
    <title>Khoa Pham Chat</title>
    <script src="bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="div-dang-ky">
        <input type="text" id="txt-username" placeholder="Username" />
        <br />
        <button id="btn-dang-ky">ĐĂNG KÝ</button>
    </div>

    <div id="div-chat">
        <div id="div-chat-left">
            <div id="p-my-name">My webcam</div>
            <video id="me"></video>
        </div>
        <div>
            <p style="color: #166797">ONLINE USER:</p>
            <ul id="ul-user" style="text-align: center"></ul>

            <table border="0" width="100%">
                <tr id="tr-video">

                </tr>
            </table>

        </div>
    </div>
</body>

</html>