body{background-color: black; text-align: center; font-size: 20px}
#txt-username, #btn-dang-ky{margin:20px; height:70px; padding:20px; font-size: 30px; text-align: center}

#div-chat-left{width:700px}
#p-my-name{color:white; background-color: red; margin-left:1px; border:solid 1px #f2c7bf; padding:10px; text-transform: uppercase; border-bottom:none}
.div-my-name{color:white; background-color: red; margin-left:1px; border:solid 1px #f2c7bf; padding:10px; text-transform: uppercase; border-bottom:none}
#me{width:700px;height:500px; border: 1px solid #f2c7bf;}
#ul-user{
    text-align: center;
    margin: auto;
    display: block;
    padding: 0 40%;
}
.li-user {
    color: white;
    float: left;
    margin-left: 10px;
    text-align: center;
    margin: auto;
    padding: 20px;
    list-style-type: none;
}
@media (max-width:1100px){
    #ul-user{
        
        padding: 0 40%;
    
    }
}
@media (max-width:920px){
    #ul-user{
        padding: 0 25%;
    
    }
}
@media (max-width:820px){
    #ul-user{
        padding: 0 20%;
    
    }
}
@media (max-width:760px){
    #ul-user{
        padding: 0 16%;
    }
    
}
@media (max-width:647px){
    #ul-user{
        padding: 0 13%;
    }
    
}
@media (max-width:547px){
    #ul-user{
        padding: 0 20%;
    }
    
    .li-user {
        padding: 10px;
    }
    
}